/* /Components/Header.razor.rz.scp.css */
.header-container[b-elqgxnq5e6] {
    margin: 20px 0;
}

.header-socials[b-elqgxnq5e6] {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.header-link-social[b-elqgxnq5e6] {
    display: block;
    width: 25px;
    height: 25px;
    text-decoration: none;
    color: black;
}

.header-icon-social[b-elqgxnq5e6] {
    display: block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

    .header-icon-social[b-elqgxnq5e6]:before {
        content: "";
        display: block;
        padding-top: 100%;
    }
/* /Components/Portrait.razor.rz.scp.css */
.link-social[b-w9ouo9d6lg] {
    text-decoration: none;
}

.main-info[b-w9ouo9d6lg] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.icon-social[b-w9ouo9d6lg] {
    display: block;
    width: 30px;
    height: 30px;
    max-height: 100%;
    max-width: 100%;
}

.socials-container[b-w9ouo9d6lg] {
    margin-top: 20px;
}

.socials-ul[b-w9ouo9d6lg] {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(4, auto);
    gap: 22px;
}

.main-image[b-w9ouo9d6lg] {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid black;
    margin: 0 auto;
    display: block;
    margin-bottom: 20px;
}
/* /Components/PostInfo.razor.rz.scp.css */
.post-info[b-0yw0i7x8k6] {
    
}
.post-title[b-0yw0i7x8k6]{

}
.post-date[b-0yw0i7x8k6] {
    font-size: 0.8em;
    color: #737373;
}
.post-content[b-0yw0i7x8k6]{
    
}
.post[b-0yw0i7x8k6] {
    width: 800px;
    margin: 0 auto;
}
/* /Components/PostList.razor.rz.scp.css */
.blogList-info[b-xf0f7egu7k] {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.tag-list[b-xf0f7egu7k] {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
.tag[b-xf0f7egu7k] {
    background-color: #eee;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 0.8rem;
    margin: 0;
}
.blogGrid[b-xf0f7egu7k] {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}
.blogList-container[b-xf0f7egu7k] {
    border: 1px solid #ccc;
    padding: 20px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
    .blogList-container:hover[b-xf0f7egu7k] {
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        transform: translateY(-2px);
    }
.blogList-title[b-xf0f7egu7k] {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 10px;
}
.blogList-date[b-xf0f7egu7k] {
    font-size: 0.8rem;
    color: #737373;
    margin: 0;
}
@media only screen and (max-width: 600px) {
    .blogGrid[b-xf0f7egu7k] {
        grid-template-columns: 1fr;
    }
}
@media only screen and (min-width: 601px) and (max-width: 900px) {
    .blogGrid[b-xf0f7egu7k] {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}
@media only screen and (min-width: 901px) and (max-width: 1200px) {
    .blogGrid[b-xf0f7egu7k] {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}
@media only screen and (min-width: 1201px) {
    .blogGrid[b-xf0f7egu7k] {
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    }
}
@media only screen and (max-width: 500px) {
    .blogList-container[b-xf0f7egu7k] {
        padding: 10px;
    }
    .blogList-title[b-xf0f7egu7k] {
        font-size: 1.1rem;
    }
    .blogList-date[b-xf0f7egu7k] {
        font-size: 0.7rem;
    }
}
@media only screen and (min-width: 501px) and (max-width: 900px) {
    .blogList-container[b-xf0f7egu7k] {
        padding: 15px;
    }
    .blogList-title[b-xf0f7egu7k] {
        font-size: 1.2rem;
    }
    .blogList-date[b-xf0f7egu7k] {
        font-size: 0.8rem;
    }
}
@media only screen and (min-width: 901px) and (max-width: 1200px) {
    .blogList-container[b-xf0f7egu7k] {
        padding: 20px;
    }
}
/* /Pages/Index.razor.rz.scp.css */

/*.sectionBlock {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scroll-down {
    height: 50px;
    width: 30px;
    border: 2px solid black;
    position: absolute;
    left: 50%;
    bottom: 20px;
    border-radius: 50px;
    cursor: pointer;
}

    .scroll-down::before,
    .scroll-down::after {
        content: "";
        position: absolute;
        top: 20%;
        left: 50%;
        height: 10px;
        width: 10px;
        transform: translate(-50%, -100%) rotate(45deg);
        border: 2px solid black;
        border-top: transparent;
        border-left: transparent;
        animation: scroll-down 1s ease-in-out infinite;
    }

    .scroll-down::before {
        top: 30%;
        animation-delay: 0.3s;
    }

@keyframes scroll-down {
    0% {
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    60% {
        opacity: 1;
    }

    100% {
        top: 90%;
        opacity: 0;
    }
}


.firstBlock {
}

.secondBlock {
    display: flex;
    justify-content: center;
}
*/

.sectionBlock[b-dhfa43w6hx] {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scroll-down[b-dhfa43w6hx] {
    height: 50px;
    width: 30px;
    border: 2px solid black;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 20px;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease-in-out;
    transform: translateX(-50%);
    transform: translateY(5px);
}

    .scroll-down[b-dhfa43w6hx]::before,
    .scroll-down[b-dhfa43w6hx]::after {
        content: "";
        position: absolute;
        top: 20%;
        left: 50%;
        height: 10px;
        width: 10px;
        transform: translate(-50%, -100%) rotate(45deg);
        border: 2px solid black;
        border-top: transparent;
        border-left: transparent;
        animation: scroll-down-b-dhfa43w6hx 1s ease-in-out infinite;
    }

    .scroll-down[b-dhfa43w6hx]::before {
        top: 30%;
        animation-delay: 0.3s;
    }

@keyframes scroll-down-b-dhfa43w6hx {
    0% {
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    60% {
        opacity: 1;
    }

    100% {
        top: 90%;
        opacity: 0;
    }
}

.firstBlock[b-dhfa43w6hx] {
    /* add styles as needed */
}

.secondBlock[b-dhfa43w6hx] {
    display: flex;
    justify-content: center;
}

.container[b-dhfa43w6hx] {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
}

@media (max-width: 768px) {
    .container[b-dhfa43w6hx] {
        padding: 0 10px;
    }
}
/* /Shared/MainLayout.razor.rz.scp.css */
*[b-cund7kt1y0] {
    font-family: 'Segoe UI Historic', sans-serif;
}
.page[b-cund7kt1y0] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-cund7kt1y0] {
    flex: 1;
}

.sidebar[b-cund7kt1y0] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-cund7kt1y0] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-cund7kt1y0]  a, .top-row[b-cund7kt1y0]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-cund7kt1y0]  a:hover, .top-row[b-cund7kt1y0]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-cund7kt1y0]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-cund7kt1y0] {
        display: none;
    }

    .top-row.auth[b-cund7kt1y0] {
        justify-content: space-between;
    }

    .top-row[b-cund7kt1y0]  a, .top-row[b-cund7kt1y0]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-cund7kt1y0] {
        flex-direction: row;
    }

    .sidebar[b-cund7kt1y0] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-cund7kt1y0] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-cund7kt1y0]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-cund7kt1y0], article[b-cund7kt1y0] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-0kuie0zpgs] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-0kuie0zpgs] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-0kuie0zpgs] {
    font-size: 1.1rem;
}

.oi[b-0kuie0zpgs] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-0kuie0zpgs] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-0kuie0zpgs] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-0kuie0zpgs] {
        padding-bottom: 1rem;
    }

    .nav-item[b-0kuie0zpgs]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-0kuie0zpgs]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-0kuie0zpgs]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-0kuie0zpgs] {
        display: none;
    }

    .collapse[b-0kuie0zpgs] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
